<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/.
    jquery/3.2.1/jquery.js"></script> -->
  </head>
  <body>

    <h1> New Fruit Page</h1>
    <form action="/fruits" method="POST">
      <!--form action /fruits is the place we want to send info. to.  -->
      <!-- when we submit the form, we want to send it to the server. -->
    Name: <input type="text" name="name"><br />
    Color: <input type="text" name="color"><br />
    Is Ready to Eat: <input type="checkbox" name="readyToEat"><br />
    <input type="submit">
  </form>
  <script src="app.js" type="text/javascript"></script>
  </body>
</html>
